.contact{
    text-align: center;
    ul{
        li{
            text-align: center;
            font-size: 30px;
            list-style-type: none;
            display: inline-block;
            padding: 10px 20px;
        }
    }
}