.navbar{

    background-size: cover;
    background-position: center;

    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;        
        .logo{
            color:black;
            font-size: 28px;
        }

        span {
            color: $theme-color
        }

        ul{
            li{
                list-style-type: none;
                display: inline-block;
                padding: 10px 20px;

                a{
                    color: #F8F8FF;
                    text-decoration: none;
                    font-weight: bold;
                }

                a:hover{
                    color: $theme-color;
                    transition: .3s;
                }
            }
        }

        button{
            @extend .button-basic;
            background: $theme-color;
            transition: .4s;
        }

        button:hover{
            transform: scale(1.3);
            cursor: pointer;
        }

        @media screen and (max-width: 1000px) {
            ul{
                display: none;
            }
        }
    }
}